<h1> All Gym Sessions </h1>

<div class = "Sessions">
    <a href="/sessions/new"><li>Add New Class</li></a>
<table>
  <tr>
    <th>Name</th>

    <th>Fitness Level</th>


  </tr>
    <% for session in @sessions%>
    <tr>
      <td><%= session.name %></td>

      <td><%= session.fitness_level %></td>



      </td>
    </tr>
    <% end %>
</table>
