<h1> Classes </h1>

<form action="/sessions/new" method="get">
    <input type="submit" value="ADD NEW CLASS">
</form>

<table>
  <tr>
    <th>Name</th>

    <th>Fitness Level</th>

    <th>Premium<th>


  </tr>

    <% for session in @sessions%>
    <tr>
      <td><%= session.name %></td>
      <%level = "Low" %>
      <%if session.fitness_level == 2 %>
      <%level = "Medium" %>
      <%end %>
      <%if session.fitness_level == 3 %>
      <%level = "High" %>
      <%end %>
      <td><%= level %></td>
      <%  premium = 'No'          %>
      <% if session.premium == 't' %>
      <%   premium = 'Yes'        %>
      <%end  %>
      <td> <%= premium %></td>

      <td>
      <form action="/sessions/<%= session.id %>" method="get">
        <input type="submit" value="Select">
      </form>
      </td>

    </tr>

    <% end %>
</table>
