<h1> All Gym Sessions </h1>

<form action="/sessions/new" method="get">
    <input type="submit" value="ADD NEW CLASS">
</form>

<table>
  <tr>
    <th>Name</th>

    <th>Fitness Level</th>


  </tr>
    <% for session in @sessions%>
    <tr>
      <td><%= session.name %></td>

      <td><%= session.fitness_level %></td>



      </td>
    </tr>
    <% end %>
</table>
