<form class="" action="/sessions" method="POST">

  <label for = "name">Class Name</lable>
    <input required id="name" type="text" name="name" placeholder="Class Name"/>

  <label for = "fitness-level">Fitness Level</label>
    <select id="fitness-level" name="fitness_level">
      <option value="1">Low</option>
      <option value="2">Medium</option>
      <option value="3">High</option>
    </select>


  <input type="submit" value="Add">

</form>
