<form class="" action="/members/<%= @members.id %>/change" method="POST">

  <label for = "first-name">First Name</lable>
    <input required id="first-name" type="text" name="f_name" placeholder="First Name"/>

  <label for = "last-name">Last Name</label>
    <input required id="last-name" type="text" name="l_name" placeholder="Last Name"/>

  <label for = "premium">Premium</label>
    <select id="premium" name="premium">
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>

  <label for = "fitness-level">Fitness Level</label>
    <select id="fitness-level" name="fitness_level">
      <option value="1">Low</option>
      <option value="2">Medium</option>
      <option value="3">High</option>
    </select>

  <input type="submit" value="Update">

</form>
