<!DOCTYPE html>
<html>
  <head>
    <title>SWAN FLEX</title>
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">

  </head>

  <body>
    <img src= "/images/Swan.png" alt="Swan" width="200" height="200">
    <img src= "/images/flexing.png" alt="Swan" width="350" height="200">
    <main>
      <nav>
        <ul>
          <div class = "topnav" >
            <a href="/" class="">Home</a>
            <a href="/members" class="">Members</a>
            <a href="/sessions" class="">Classes</a>
            <a href="/timetables" class="">Timetables</a>
          </div>
        </ul>
      </nav>
      <section id="content">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
