<h1>Timetables</h1>

<form action="/timetables/new" method="get">
    <input type="submit" value="ADD NEW TIME FOR CLASS ">
</form>
  <table>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Spaces Left</th>
      <th>Select</th>
    </tr>
      <% for session in @timetables%>
      <tr>
        <td><%= session['name'] %></td>
        <td><%= session['session_time'] %></td>
        <td><%= session['capacity'] %> </td>
        <td>
        <form action="/timetables/<%=session['id']%>" method="get">
          <input type="submit" value="Select">
        </form>
        </td>
      <% end %>
      </tr>
  </table>
